{
  "presets": [
    ["env", { "modules": false }],
    "stage-2",
    "flow-vue"
  ],
  "plugins": ["transform-runtime"],
  "comments": false,
  "env": {
    "test": {
      "presets": ["env", "stage-2"],
      "plugins": [ "istanbul" ]
    }
  },
  "ignore": [
    "dist/*.js"
  ]
}
